/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2016, 8:59:53 AM
    Author     : steven.vandenberghe
*/
body {
    margin:0;
    padding:0;
    background-image: url(img/Background2.png);
    background-size: 100%
}
div.container {
   width: 99%;
   border: 1em solid black;
   margin: 0 auto;
   transform: rotate(10deg);
   transform-origin:  top left;
}

div.binnen {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    border: 1em silver ridge;
}
div.demobox{
    width: 400px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 2em;
    box-shadow: green 20px 10px;
    background-color: #FFFFFF;
    z-index: 1;
    background-image: url(img/logo.jpg);
    opacity: 1;
    text-align:center;
}
.fonttest {
    font-family: 'Tangerine', serif;
    font-size: 800%;
}
p {
   font-family: 'LilGroteskRegular';
   font-weight: bold;
   font-style: normal;
}
p.note::before {
    content: "Opmerking: \A";
}
div.logo {
    background-color: #2e3192;
    width: 100%;
    height: 250px;
}
.logo img {
    max-height: 100%;
    max-width: 100%;
    display:block;
    margin: 0 auto;
}


.clearFix:before, .clearFix:after {
    content:" ";
    display: table;
}
.clearFix:after {
    clear: both;
}